
{% load static %}

{% if user.is_superuser %}

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/">KWETU KISWAHILI SERVICES</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/uevents" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/uevents">Upcoming Events</a>
                            <a class="dropdown-item" href="/pevents">Past Events</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://webmail.kwetukiswahiliservices.com/">Email</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.first_name }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin">Admin</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#UpdateProfileModal">Profile</a>
                            <a class="dropdown-item" href="/members">Members</a>
                            <a class="dropdown-item" href="/signout">LogOut</a>
                        </div>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->

    <!--================Model Area =================-->
    <div class="modal fade" id="UpdateProfileModal" tabindex="-1" role="dialog" aria-labelledby="UpdateProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close btn-danger" style="border-radius: 10rem;" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="container" style="border-radius: 2rem; background: #7bccee;">
                    <form action="/updateprofile/" method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                            <div class="row text-center">
                                <h3>Your Profile</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <center>
                                        <img src="{{ user.profile.image.url }}" style="height: 250px; width: 250px; border-radius: 10rem;" alt="profile picture">
                                    </center>
                                    <div class="text-center mt-2 mb-2">
                                        <label class="form-label" for="image">Current: {{ user.profile.image }}</label>
                                        <input class="form-control" style="border-radius: 2rem;" type="file" name="image" id="image">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="first_name" id="first_name"  placeholder="Surname" value="{{ user.first_name }}" required="">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="last_name" id="last_name" placeholder="Given Name" value="{{ user.last_name }}" required="">
                                        </div>
                                        <div class="col-lg-4 mt-2">
                                            <input type="email" class="form-control text-center" style="border-radius: 2rem;" name="email" id="email"  placeholder="Email" value="{{ user.email }}" required="">
                                        </div>
                                        <div class="col-lg-4 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="contact" id="contact" placeholder="Contact" value="{{ user.profile.contact }}" required>
                                        </div>
                                        <div class="col-lg-4 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="position" id="position" placeholder="Status" value="{{ user.profile.position }}" readonly required>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <textarea class="form-control text-center" style="border-radius: 2rem;" name="bio" id="bio" rows="5" placeholder="Your Bio" required>{{ user.profile.bio }}</textarea>
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="twitter" id="twitter" placeholder="Twitter Handle URL" value="{{ user.profile.twitter }}">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="facebook" id="facebook" placeholder="Facebook Handle URL" value="{{ user.profile.facebook }}">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="instagram" id="instagram" placeholder="Instagram Handle URL" value="{{ user.profile.instagram }}">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="linkedin" id="linkedin" placeholder="Linkedin Handle URL" value="{{ user.profile.linkedin }}">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <center>
                                    <button type="submit" class="btn btn-info text-center mb-2" style="border-radius: 2rem; width: fit-content;"> <strong>Update Profile</strong> </button>
                                </center>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!--================Modal Area =================-->

{% elif user.is_staff %}

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/">KWETU KISWAHILI SERVICES</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/uevents" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/uevents">Upcoming Events</a>
                            <a class="dropdown-item" href="/pevents">Past Events</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://webmail.kwetukiswahiliservices.com/">Email</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.first_name }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" data-toggle="modal" data-target="#UpdateProfileModal">Profile</a>
                            <a class="dropdown-item" href="/members">Members</a>
                            <a class="dropdown-item" href="/signout">LogOut</a>
                        </div>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->

    <!--================Model Area =================-->
    <div class="modal fade" id="UpdateProfileModal" tabindex="-1" role="dialog" aria-labelledby="UpdateProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close btn-danger" style="border-radius: 10rem;" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="container bg-light" style="border-radius: 2rem;">
                    <form action="/updateprofile/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="row text-center">
                                <h3>Your Profile</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <center>
                                        <img src="{{ user.profile.image.url }}" style="height: 250px; width: 250px; border-radius: 10rem;" alt="profile picture">
                                    </center>
                                    <div class="text-center mt-2 mb-2">
                                        <label class="form-label" for="image">Current: {{ user.profile.image }}</label>
                                        <input class="form-control" style="border-radius: 2rem;" type="file" name="image" id="image">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="first_name" id="first_name"  placeholder="Surname" value="{{ user.first_name }}" required="">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="last_name" id="last_name" placeholder="Given Name" value="{{ user.last_name }}" required="">
                                        </div>
                                        <div class="col-lg-4 mt-2">
                                            <input type="email" class="form-control text-center" style="border-radius: 2rem;" name="email" id="email"  placeholder="Email" value="{{ user.email }}" required="">
                                        </div>
                                        <div class="col-lg-4 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="contact" id="contact" placeholder="Contact" value="{{ user.profile.contact }}" required>
                                        </div>
                                        <div class="col-lg-4 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="position" id="position" placeholder="Status" value="{{ user.profile.position }}" readonly required>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <textarea class="form-control text-center" style="border-radius: 2rem;" name="bio" id="bio" rows="5" placeholder="Your Bio" required>{{ user.profile.bio }}</textarea>
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="twitter" id="twitter" placeholder="Twitter Handle URL" value="{{ user.profile.twitter }}">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="facebook" id="facebook" placeholder="Facebook Handle URL" value="{{ user.profile.facebook }}">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="instagram" id="instagram" placeholder="Instagram Handle URL" value="{{ user.profile.instagram }}">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="linkedin" id="linkedin" placeholder="Linkedin Handle URL" value="{{ user.profile.linkedin }}">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <center>
                                    <button type="submit" class="btn btn-info text-center mb-2" style="border-radius: 2rem; width: fit-content;"> <strong>Update Profile</strong> </button>
                                </center>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!--================Modal Area =================-->

{% elif user.is_active %}

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/">KWETU KISWAHILI SERVICES</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/uevents" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/uevents">Upcoming Events</a>
                            <a class="dropdown-item" href="/pevents">Past Events</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://webmail.kwetukiswahiliservices.com/">Email</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.first_name }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" data-toggle="modal" data-target="#UpdateProfileModal">Profile</a>
                            <a class="dropdown-item" href="/signout">LogOut</a>
                        </div>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->

    <!--================Model Area =================-->
    <div class="modal fade" id="UpdateProfileModal" tabindex="-1" role="dialog" aria-labelledby="UpdateProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close btn-danger" style="border-radius: 10rem;" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="container bg-light" style="border-radius: 2rem;">
                    <form action="/updateprofile/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="row text-center">
                                <h3>Your Profile</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <center>
                                        <img src="{{ user.profile.image.url }}" style="height: 250px; width: 250px; border-radius: 10rem;" alt="profile picture">
                                    </center>
                                    <div class="text-center mt-2 mb-2">
                                        <label class="form-label" for="image">Current: {{ user.profile.image }}</label>
                                        <input class="form-control" style="border-radius: 2rem;" type="file" name="image" id="image">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="first_name" id="first_name"  placeholder="Surname" value="{{ user.first_name }}" required="">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="last_name" id="last_name" placeholder="Given Name" value="{{ user.last_name }}" required="">
                                        </div>
                                        <div class="col-lg-4 mt-2">
                                            <input type="email" class="form-control text-center" style="border-radius: 2rem;" name="email" id="email"  placeholder="Email" value="{{ user.email }}" required="">
                                        </div>
                                        <div class="col-lg-4 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="contact" id="contact" placeholder="Contact" value="{{ user.profile.contact }}" required>
                                        </div>
                                        <div class="col-lg-4 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="position" id="position" placeholder="Status" value="{{ user.profile.position }}" readonly required>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <textarea class="form-control text-center" style="border-radius: 2rem;" name="bio" id="bio" rows="5" placeholder="Your Bio" required>{{ user.profile.bio }}</textarea>
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="twitter" id="twitter" placeholder="Twitter Handle URL" value="{{ user.profile.twitter }}">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="facebook" id="facebook" placeholder="Facebook Handle URL" value="{{ user.profile.facebook }}">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="instagram" id="instagram" placeholder="Instagram Handle URL" value="{{ user.profile.instagram }}">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <input type="text" class="form-control text-center" style="border-radius: 2rem;" name="linkedin" id="linkedin" placeholder="Linkedin Handle URL" value="{{ user.profile.linkedin }}">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <center>
                                    <button type="submit" class="btn btn-info text-center mb-2" style="border-radius: 2rem; width: fit-content;"> <strong>Update Profile</strong> </button>
                                </center>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!--================Modal Area =================-->

{% else %}

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/">KWETU KISWAHILI SERVICES</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/team">Team</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->

{% endif %}


