
{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="/">KWETU KISWAHILI SERVICES</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/team">Team</a></li>
                <li class="dropdown"><a href="/upcoming_events"><span>Events</span></a>
                    <ul>
                        <li><a href="/upcoming_events">Upcoming Events</a></li>
                        <li><a href="/past_events">Past Events</a></li>
                        <li><a href="/recorded_events">Recorded Events</a></li>
                    </ul>
                </li>
                <li><a href="/members">Members</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>
<!-- End Header -->