<!DOCTYPE html>
<html lang="en">

  {% load static %}
  
  {% include 'includes/head.html' %}

  <title>Kwetu Education Services - About</title>

<body>

  <div class="container">

    {% include 'includes/header.html' %}

      <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
          <div class="container">
            <img src="{% static 'assets/img/logo.jpg' %}" alt="" class="img-fluid" style="height: 100px; width: 100px; border-radius: 15px;">
            <h2>About Us</h2>
            <p>
              <strong>
                Get To Know More About Us With The Information Below, Such As What We Do, Students Enrolled, Courses Delivered
                etc.
              </strong>
            </p>
          </div>
        </div><!-- End Breadcrumbs -->
      
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
      
            <div class="row">
              <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" style="border-radius: 2rem;" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>All To Know About Kwetu Education Services</h3>
                <p class="fst-italic">
                  We are a team of proffessional Kiswahili Teachers who teach the language, translate content, interprete into
                  the language and also supply kiswahili language learning materials at the most favourable prices.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> At Kwetu, you will learn to speak Kiswahili fluently.</li>
                  <li><i class="bi bi-check-circle"></i> At Kwetu, we eliminate language barrier with direct and proper
                    translations</li>
                  <li><i class="bi bi-check-circle"></i> At Kwetu, we can interprete and elaborate on content in kiswahili.
                  </li>
                  <li><i class="bi bi-check-circle"></i> At Kwetu, get reliable kiswahili learning content from our team with
                    experience and extraordinary development of the language.</li>
                </ul>
              </div>

              <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-left" data-aos-delay="100">
                <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" style="border-radius: 2rem;" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content">
                <p>Kwetu Mradi a partner company of Kwetu Kiswahili Services company as the following the objectives:</p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> To carry out the business of facilitating the teaching of Kiswahili in the
                    region.</li>
                  <li><i class="bi bi-check-circle"></i>To carry out a number of language services including editing, translations and
                    interpreting the various content.</li>
                  <li><i class="bi bi-check-circle"></i> To develop, produce and supply language reading materials.
                  </li>
                  <li><i class="bi bi-check-circle"></i>To preserve and enhance the visibility of Kiswahili culture, tradition in the
                    community.</li>
                </ul>
                <p>
                  At the end of any of our course, we believe and guarantee that you will be able to pronounce, read, write,
                  converse and express yourself in Kiswahili Language.
                </p>
              </div>
            </div>
      
          </div>
        </section><!-- End About Section -->
      
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts section-bg">
          <div class="container">
            <div class="row counters">
              <div class="col-lg-4 col-md-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="{{ num_members }}" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Members</p>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="{{ num_students }}" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Students</p>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="{{ num_services }}" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Services</p>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="{{ num_upcoming_events }}" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Upcoming Events</p>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="{{ num_past_events }}" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Past Events</p>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="{{ num_team_members }}" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Team</p>
              </div>
            </div>
          </div>
        </section><!-- End Counts Section -->

      
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
          <div class="container" data-aos="fade-up">
      
            <div class="section-title">
              <h2>Testimonials</h2>
              <p>What are they saying</p>
            </div>
      
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">
                {% for testimonial in Testimonials %}
                    <div class="swiper-slide">
                      <div class="testimonial-wrap">
                        <div class="testimonial-item">

                          <h3>{{testimonial.tname}}</h3>

                          <h4>{{testimonial.ttitle}}</h4>

                          <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                              {{testimonial.testimonial}}
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                          </p>

                          {% if user.is_superuser %}
                            <div class="text-center" style="margin-top: 100px;">
                              <a class="btn btn-sm btn-danger" style="border-radius: 2rem;" href="/deletetestimonial/{{ testimonial.id }}/"> <strong>Delete Testimonial</strong> </a>
                            </div>
                          {% elif user.is_staff %}
                            <div class="text-center" style="margin-top: 100px;">
                              <button class="btn btn-sm btn-danger" style="border-radius: 2rem;"> <strong>Delete Testimonial</strong> </button>
                            </div>
                          {% elif user.is_active %}
                          {% else %}
                          {% endif %}

                        </div>
                      </div>
                    </div><!-- End testimonial item -->
                {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>

            {% if user.is_superuser %}
            <div class="text-center" style="margin-top: 10px;">
              <button class="btn btn-primary" style="border-radius: 2rem;" data-toggle="modal" data-target="#AddNewTestimonialModal"> <strong>Add New Testimonials</strong> </button>
            </div>
            {% elif user.is_staff %}
            <div class="text-center" style="margin-top: 10px; border-radius: 2rem;">
              <button class="btn btn-primary" style="border-radius: 2rem;" data-toggle="modal" data-target="#AddNewTestimonialModal"> <strong>Add New Testimonials</strong> </button>
            </div>
            {% elif user.is_active %}
            {% else %}
            {% endif %}

          </div>
        </section><!-- End Testimonials Section -->

        <!--================Model Area =================-->
        <div class="modal fade" id="AddNewTestimonialModal" tabindex="-1" role="dialog" aria-labelledby="AddNewTestimonialModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close btn-danger" style="border-radius: 10rem;" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="entry-form">
                  <form action="/addnewtestimonial/" method="POST">
                    {% csrf_token %}
                      <h2><strong>Add New Testimonial Form</strong></h2>

                      <input type="text" class="form-control text-center" name="tname" id="tname" placeholder="Testifier Name" required="">

                      <input type="text" class="form-control text-center" name="ttitle" id="ttitle" placeholder="Testifier Title" required="">

                      <textarea class="form-control text-center" style="height: auto;" name="testimonial" id="testimonial" rows="5" placeholder="The Testimonial" required=""></textarea>

                      <button class="submit-btn form-control text-center" id="form-submit"> <strong>Submit</strong> </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--================Modal Area =================-->
      
      </main><!-- End #main -->

    {% include 'includes/footer.html' %}
    
  </div>

</body>

</html>