<!DOCTYPE html>
<html lang="en">

  {% load static %}
    
  {% include 'includes/head.html' %}

  <title>Kwetu Education Services - Home</title>

  <body>

    {% include 'includes/header.html' %}

    {% if user.is_authenticated %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-content-center align-items-center">
      <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Learning Today,<br>Leading Tomorrow</h1>
        <h2>We are team of talented kiswahili teachers who provide interactive kiswahili language lesssons.</h2>
        <a class="btn-get-started" href="services/">Hello Latim, Get Started</a>
      </div>
    </section><!-- End Hero -->

    {% else %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-content-center align-items-center">
      <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Learning Today,<br>Leading Tomorrow</h1>
        <h2>We are team of talented kiswahili teachers who provide interactive kiswahili language lesssons.</h2>
        <a class="btn-get-started" data-toggle="modal" data-target="#LoginModal">LOGIN</a>
        <a class="btn-get-started" data-toggle="modal" data-target="#SignUpModal">SIGNUP</a>
      </div>
    </section><!-- End Hero -->

    <!--================Model Area =================-->
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close btn-danger" style="border-radius: 10rem;" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="entry-form">
              <form action="#" method="post">
                <h2><strong>LOGIN</strong></h2>

                <input type="text" name="username" class="form-control" placeholder="Username" required="">

                <input type="password" name="password" id="loginpass" class="form-control" placeholder="Your password" required="">

                <input type="checkbox" onclick="loginFunction()"><strong>Show Password</strong><br>

                <input type="checkbox"><strong>Remember Me</strong><br>

                <a  href="£">Forgot password? Reset here.</a>

                <button class="submit-btn form-control" id="form-submit">LOGIN</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="modal fade" id="SignUpModal" tabindex="-1" role="dialog" aria-labelledby="SignUpModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close btn-danger" style="border-radius: 10rem;" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="entry-form">
              <form action="#" method="post">
                <h2><strong>SIGNUP</strong></h2>
                <input type="text" name="username" class="form-control" placeholder="Username" required="">

                <input type="text" name="firstname" class="form-control" placeholder="Surname" required="">

                <input type="text" name="lastname" class="form-control" placeholder="Given Name" required="">
            
                <input type="email" name="email" class="form-control" placeholder="Email" required="">
            
                <input type="password" name="password" id="signuppass" class="form-control" placeholder="Your password" required="">

                <input type="password" name="password" id="confirmsignuppass" class="form-control" placeholder="Confirm Your Password" required="">

                <input type="checkbox" onclick="signupFunction()"><strong>Show Password</strong><br>

                <input type="checkbox" required=""><strong>I agree to the terms and policies of Kwetu Education Services.</strong>
            
                <button class="submit-btn form-control" id="form-submit">SignUp</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================Modal Area =================-->

    {% endif %}

    {% include 'includes/footer.html' %}

    <script>
      $('#LoginModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
      })
    </script>
    
    <script>
      $('#SignUpModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
      })
    </script>

    <script>
      function loginFunction() {
        var x = document.getElementById("loginpass");

        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
    
    <script>
      function signupFunction() {
        var x = document.getElementById("signuppass");
        var y = document.getElementById("confirmsignuppass");

        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }

        if (y.type === "password") {
          y.type = "text";
        } else {
          y.type = "password";
        }
      }
    </script>

  </body>

</html>