<!DOCTYPE html>
<html lang="en">

  {% load static %}
  
  {% include 'includes/head.html' %}

  <title>Kwetu Education Services - Members</title>

<body>

  <div class="container">

    {% include 'includes/header.html' %}

    {% if user.is_superuser %}

      <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
          <div class="container">
            <img src="{% static 'assets/img/logo.jpg' %}" alt="" class="img-fluid" style="height: 100px; width: 100px; border-radius: 15px;">
            <h2>Members</h2>
            <p>
              <strong>
                Below is an orgnised list of Kwetu Members.
              </strong>
            </p>
          </div>
        </div><!-- End Breadcrumbs -->
      
        <!-- ======= Members Section ======= -->
        <section id="members" class="members">
          <div class="container" data-aos="fade-up">
            <div class="row">
              <div class="row table-responsive">
                <table class="table">

                  <thead>
                    <tr class="text-center">
                      <th>#</th>
                      <th>NAME</th>
                      <th>EMAIL</th>
                      <th>CONTACT</th>
                      <th>POSTION</th>
                      <th>ACTION</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    {% for member in Members %}
                      <form action="/updatemember/" method="POST">
                        {% csrf_token %}
                          <tr class="h6 text-center">
                            <td>
                              1
                              <input hidden readonly class="text-center" name="member_id" id="member_id"style="border-radius: 1rem;" value="{{ member.id }}">
                            </td>
                            <td>{{ member.first_name }} {{ member.last_name }}</td>
                            <td>{{ member.email }}</td>
                            <td>{{ member.profile.contact }}</td>
                            <td>
                              <center>
                                <select class="form-select text-center" name="position" id="position" style="border-radius: 2rem; width: fit-content; border: white;">
                                  <option value="{{ member.profile.position }}">{{ member.profile.position }}</option>
                                  <option value="Normal Member">Normal Member</option>
                                  <option value="Student Member">Student Member</option>
                                  <option value="Team Member">Team Member</option>
                                </select>
                              </center>
                            </td>
                            <td>
                              <center>
                                <button type="submit" class="btn btn-buy" style="border-radius: 5rem;"> <strong>SAVE</strong> </button>
                              </center>
                            </td>
                          </tr>
                      </form>
                    {% endfor %}
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </section><!-- End Members Section -->
      
      </main><!-- End #main -->
    
    {% elif user.is_staff %}

      <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
          <div class="container">
            <img src="{% static 'assets/img/logo.jpg' %}" alt="" class="img-fluid" style="height: 100px; width: 100px; border-radius: 15px;">
            <h2>Members</h2>
            <p>
              <strong>
                Below is an orgnised list of Kwetu Members.
              </strong>
            </p>
          </div>
        </div><!-- End Breadcrumbs -->
      
        <!-- ======= Members Section ======= -->
        <section id="members" class="members">
          <div class="container" data-aos="fade-up">
            <div class="row">
              <div class="row table-responsive">
                <table class="table">
                  <thead>
                    <tr class="text-center">
                      <th>ID</th>
                      <th>NAME</th>
                      <th>EMAIL</th>
                      <th>CONTACT</th>
                      <th>POSTION</th>
                      <th>ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <form action="/viewmember/" method="POST">
                      <tr class="h6 text-center">
                        <td><input hidden readonly class="text-center" name="member_id" id="member_id"style="border-radius: 1rem;" value=""></td>
                        <td>John Doe</td>
                        <td>Johndoe@kwetueduservices.com</td>
                        <td>+256 784 123456</td>
                        <td>ACTIVE</td>
                        <td><button type="submit" class="btn btn-buy" style="border-radius: 5rem;">SAVE</button></td>
                      </tr>
                    </form>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section><!-- End Members Section -->
      
      </main><!-- End #main -->
    
    {% else %}

      <main id="main">
        <!-- ======= Members Section ======= -->
        <section id="members" class="members">
          <div class="container" style="margin-top: 50px;" data-aos="fade-up">
            <img src="{% static 'assets/img/logo.jpg' %}" alt="" class="img-fluid" style="height: 100px; width: 100px; border-radius: 15px;">
            <center>
              <h2>YOU ARE NOT AUTHORISED TO VIEW THIS PAGE</h2>
            </center>
          </div>
        </section>
      </main><!-- End #main -->
    
    {% endif %}

    {% include 'includes/footer.html' %}

  </div>

</body>

</html>