<!DOCTYPE html>
<html lang="en">

  {% load static %}
  
  {% include 'includes/head.html' %}

  <title>Kwetu Education Services - Members</title>

<body>

  {% include 'includes/header.html' %}

  {% if user.is_superuser %}

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>Members</h2>
          <p>Below is an orgnised list of Kwetu Members.</p>
        </div>
      </div><!-- End Breadcrumbs -->
    
      <!-- ======= Members Section ======= -->
      <section id="members" class="members">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="row table-responsive">
              <table class="table">
                <thead>
                  <tr class="text-center">
                    <th>ID</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>CONTACT</th>
                    <th>DATE JOINED</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/viewmember/" method="POST">
                    <tr class="h6 text-center">
                      <td><input hidden readonly class="text-center" name="member_id" id="member_id"
                          style="border-radius: 1rem;" value=""></td>
                      <td>John Doe</td>
                      <td>Johndoe@kwetueduservices.com</td>
                      <td>+256 784 123456</td>
                      <td>01/01/2022</td>
                      <td>ACTIVE</td>
                      <td><button type="submit" class="btn btn-buy" style="border-radius: 5rem;">SAVE</button></td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section><!-- End Members Section -->
    
    </main><!-- End #main -->
  
  {% elif user.is_staff %}

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>Members</h2>
          <p>Below is an orgnised list of Kwetu Members.</p>
        </div>
      </div><!-- End Breadcrumbs -->
    
      <!-- ======= Members Section ======= -->
      <section id="members" class="members">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="row table-responsive">
              <table class="table">
                <thead>
                  <tr class="text-center">
                    <th>ID</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>CONTACT</th>
                    <th>DATE JOINED</th>
                    <th>STATUS</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/viewmember/" method="POST">
                    <tr class="h6 text-center">
                      <td><input hidden readonly class="text-center" name="member_id" id="member_id"
                          style="border-radius: 1rem;" value=""></td>
                      <td>John Doe</td>
                      <td>Johndoe@kwetueduservices.com</td>
                      <td>+256 784 123456</td>
                      <td>01/01/2022</td>
                      <td>ACTIVE</td>
                    </tr>
                  </form>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section><!-- End Members Section -->
    
    </main><!-- End #main -->
  
  {% else %}

    <main id="main">
      <!-- ======= Members Section ======= -->
      <section id="members" class="members">
        <div class="container" style="margin-top: 50px;" data-aos="fade-up">
          <center>
            <h2>YOU ARE NOT AUTHORISED TO VIEW THIS PAGE</h2>
          </center>
        </div>
      </section>
    </main><!-- End #main -->
  
  {% endif %}

  {% include 'includes/footer.html' %}

</body>

</html>