<!DOCTYPE html>
<html lang="en">

  {% load static %}
  
  {% include 'includes/head.html' %}

  <title>Kwetu Education Services - Services</title>

<body>

  {% include 'includes/header.html' %}

  {% if user.is_superuser %}

    <main id="main" data-aos="fade-in">

      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs">
        <div class="container">
          <h2>Services</h2>
          <p> Check out our available services and order for one that suits your preference. </p>
        </div>
      </div><!-- End Breadcrumbs -->

      <!-- ======= Courses Section ======= -->
      <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">

          <div class="row" data-aos="zoom-in" data-aos-delay="100">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="course-item">
                <img src="{% static 'assets/img/course-1.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    
                  </div>

                  <h3><a href="course-details.html">Kiswahili Learning Courses</a></h3>
                  <p>
                    Enroll for the Kiswahili Learning Course where you will learn how to fluently speak the language.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="{% static 'assets/img/course-2.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                  
                  </div>

                  <h3><a href="course-details.html">Kiswahili Translation Services</a></h3>
                  <p>
                    Enroll for the Kiswahili Translation Course where you will be trained to become an excellent translator from Kiswahili to any of the international languages.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="course-item">
                <img src="{% static 'assets/img/course-3.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                  </div>
                  <h3><a href="#">Kiswahili Interpretation Services</a></h3>
                  <p>
                    Enroll for this course where you will become a detailed and proffesional kiswahili content creator.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="course-item">
                <img src="{% static 'assets/img/course-3.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                  </div>
                  <h3><a href="#">Kiswahili Content Creation Services</a></h3>
                  <p>
                    Enroll for this course where you will become a detailed and proffesional kiswahili content creator.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->

          </div>

          <div class="text-center" style="margin-top: 10px;">
            <button class="btn btn-primary">Add Upcoming Event</button>
          </div>

        </div>
      </section><!-- End Courses Section -->

    </main><!-- End #main -->

  {% elif user.is_staff %}

    <main id="main" data-aos="fade-in">
    
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs">
        <div class="container">
          <h2>Services</h2>
          <p> Check out our available services and order for one that suits your preference. </p>
        </div>
      </div><!-- End Breadcrumbs -->
    
      <!-- ======= Courses Section ======= -->
      <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">
    
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
    
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="course-item">
                <img src="{% static 'assets/img/course-1.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
    
                  </div>
    
                  <h3><a href="course-details.html">Kiswahili Learning Courses</a></h3>
                  <p>
                    Enroll for the Kiswahili Learning Course where you will learn how to fluently speak the language.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="{% static 'assets/img/course-2.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
    
                  </div>
    
                  <h3><a href="course-details.html">Kiswahili Translation Services</a></h3>
                  <p>
                    Enroll for the Kiswahili Translation Course where you will be trained to become an excellent translator
                    from Kiswahili to any of the international languages.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="course-item">
                <img src="{% static 'assets/img/course-3.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                  </div>
                  <h3><a href="#">Kiswahili Interpretation Services</a></h3>
                  <p>
                    Enroll for this course where you will become a detailed and proffesional kiswahili content creator.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="course-item">
                <img src="{% static 'assets/img/course-3.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                  </div>
                  <h3><a href="#">Kiswahili Content Creation Services</a></h3>
                  <p>
                    Enroll for this course where you will become a detailed and proffesional kiswahili content creator.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
          </div>
    
          <div class="text-center" style="margin-top: 10px;">
            <button class="btn btn-primary">Add Upcoming Event</button>
          </div>
    
        </div>
      </section><!-- End Courses Section -->
    
    </main><!-- End #main -->

  {% elif user.is_active %}

    <main id="main" data-aos="fade-in">
    
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs">
        <div class="container">
          <h2>Services</h2>
          <p> Check out our available services and order for one that suits your preference. </p>
        </div>
      </div><!-- End Breadcrumbs -->
    
      <!-- ======= Courses Section ======= -->
      <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">
    
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
    
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="course-item">
                <img src="{% static 'assets/img/course-1.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
    
                  </div>
    
                  <h3><a href="course-details.html">Kiswahili Learning Courses</a></h3>
                  <p>
                    Enroll for the Kiswahili Learning Course where you will learn how to fluently speak the language.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="{% static 'assets/img/course-2.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
    
                  </div>
    
                  <h3><a href="course-details.html">Kiswahili Translation Services</a></h3>
                  <p>
                    Enroll for the Kiswahili Translation Course where you will be trained to become an excellent translator
                    from Kiswahili to any of the international languages.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="course-item">
                <img src="{% static 'assets/img/course-3.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                  </div>
                  <h3><a href="#">Kiswahili Interpretation Services</a></h3>
                  <p>
                    Enroll for this course where you will become a detailed and proffesional kiswahili content creator.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="course-item">
                <img src="{% static 'assets/img/course-3.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                  </div>
                  <h3><a href="#">Kiswahili Content Creation Services</a></h3>
                  <p>
                    Enroll for this course where you will become a detailed and proffesional kiswahili content creator.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
          </div>
        </div>
      </section><!-- End Courses Section -->
    
    </main><!-- End #main -->

  {% else %}

    <main id="main" data-aos="fade-in">
    
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs">
        <div class="container">
          <h2>Services</h2>
          <p> Check out our available services and order for one that suits your preference. </p>
        </div>
      </div><!-- End Breadcrumbs -->
    
      <!-- ======= Courses Section ======= -->
      <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">
    
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
    
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="course-item">
                <img src="{% static 'assets/img/course-1.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
    
                  </div>
    
                  <h3><a href="course-details.html">Kiswahili Learning Courses</a></h3>
                  <p>
                    Enroll for the Kiswahili Learning Course where you will learn how to fluently speak the language.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="course-item">
                <img src="{% static 'assets/img/course-2.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
    
                  </div>
    
                  <h3><a href="course-details.html">Kiswahili Translation Services</a></h3>
                  <p>
                    Enroll for the Kiswahili Translation Course where you will be trained to become an excellent translator
                    from Kiswahili to any of the international languages.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="course-item">
                <img src="{% static 'assets/img/course-3.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                  </div>
                  <h3><a href="#">Kiswahili Interpretation Services</a></h3>
                  <p>
                    Enroll for this course where you will become a detailed and proffesional kiswahili content creator.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="course-item">
                <img src="{% static 'assets/img/course-3.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                  </div>
                  <h3><a href="#">Kiswahili Content Creation Services</a></h3>
                  <p>
                    Enroll for this course where you will become a detailed and proffesional kiswahili content creator.<br>
                    <a href="#" class="btn btn-success" style="margin-top: 10px;">Get Service</a>
                  </p>
                </div>
              </div>
            </div> <!-- End Course Item-->
    
          </div>
        </div>
      </section><!-- End Courses Section -->
    
    </main><!-- End #main -->

  {% endif %}

  {% include 'includes/footer.html' %}

</body>

</html>