<!DOCTYPE html>
<html lang="en">

  {% load static %}
  
  {% include 'includes/head.html' %}

  <title>Kwetu Education Services - Team</title>

<body>

  <div class="container">

    {% include 'includes/header.html' %}

      <main id="main" data-aos="fade-in">
      
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
          <div class="container">
            <img src="{% static 'assets/img/logo.jpg' %}" alt="" class="img-fluid" style="height: 100px; width: 100px; border-radius: 15px;">
            <h2>Team</h2>
            <p>
              <strong>
                Below Is Our Dedicated And Committed Team To Provide You With Best Of Our Services.
              </strong>
            </p>
          </div>
        </div><!-- End Breadcrumbs -->
      
        <!-- ======= Trainers Section ======= -->
        <section id="trainers" class="trainers">
          <div class="container" data-aos="fade-up">
      
            <div class="row" data-aos="zoom-in" data-aos-delay="100">

              {% for teammate in TeamMates %}

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" >
                  <div class="member" style="border-radius: 2rem;">
                    <img src="{{ teammate.image.url }}" class="img-fluid" alt="" style="border-radius: 2rem;">
                    <div class="member-content">
                      <h4>{{ teammate.user.first_name }} {{ teammate.user.last_name }}</h4>
                      <span>{{ teammate.position }}</span>
                      <p>
                        {{ teammate.bio }}
                      </p>
                      <div class="social">
                        <a href="{{ teammate.profile.twitter }}"><i class="bi bi-twitter"></i></a>
                        <a href="{{ teammate.profile.facebook }}"><i class="bi bi-facebook"></i></a>
                        <a href="{{ teammate.profile.instagram }}"><i class="bi bi-instagram"></i></a>
                        <a href="{{ teammate.profile.linkedin }}"><i class="bi bi-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

              {% endfor %}
      
            </div>
          </div>
        </section><!-- End Trainers Section -->
      
      </main><!-- End #main -->

    {% include 'includes/footer.html' %}

  </div>

</body>

</html>