<!DOCTYPE html>
<html lang="en">

  {% load static %}

  {% include 'includes/head.html' %}

  <style>
    .container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .entry-form {
      width: 500px;
      height: auto;
      margin: 0 auto;
    }

    form,
    input {
      text-align: center;
    }
  </style>


  <title>Kwetu Education Services - Forgot Password Reset Request</title>

  <body>

    <div class="container">
      <div class="entry-form">
        <form method="POST">
          {% csrf_token %}

            <img src="{% static 'assets/img/logo.jpg' %}" alt="" class="img-fluid" style="height: 100px; width: 100px; border-radius: 15px;">

            <h3><strong>Password Reset Form</strong></h3>

            <input type="password" class="form-control" name="new_password1" id="new_password1" placeholder="Create New Password" required="">

            <input type="password" class="form-control" name="new_password2" id="new_password2" placeholder="Confirm Newly Created Password" required="">
            
            <label><input type="checkbox" style="width: auto;" onclick="pwresetFunction()"><strong>Show Password</strong></label>

            <button type="submit" class="submit-btn form-control" id="form-submit"> <strong>SUBMIT</strong> </button>

        </form>
      </div>
    </div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script>
      function pwresetFunction() {
        var x = document.getElementById("new_password1");
        var y = document.getElementById("new_password2");

        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }

        if (y.type === "password") {
          y.type = "text";
        } else {
          y.type = "password";
        }
      }
    </script>

  </body>

</html>